*~
*.exe
*.log
*.img
*.opus
.DS_Store
compile_mouton2
.gdb_history
build
destroot
tarballs
COPYING_at_start_of_c_files
Makefile.odd
Makefile
build.sh
test
libs/SDL-1.2.15/SDL.qpg
libs/SDL-1.2.15/build-deps
libs/SDL-1.2.15/config.status
libs/SDL-1.2.15/libtool
libs/SDL-1.2.15/sdl-config
libs/SDL-1.2.15/sdl.pc
Makefile-gen.mkf-old
